
fieldset {
    border: 0px;
}

input {
    width: 100%;
}

fieldset legend {
    font-size: 20px;
}

.main-div .form-control {
  height: 30px;
  line-height: 30px;

  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  max-width: 40%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.up-label {
    display: block;
    width: 100%;
}

.btn {
  border: 2px solid #c15353;
  color: #c15353;
  opacity: 30%;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

.btn-primary {
  background: #c15353 none repeat scroll 0 0;
  border-color: #c15353;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  width: 80%;
  height: 50px;
  display: block;
  line-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

